:root{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin:0px;
    padding:0px;
    color:white;

    --darkest-blue: #000814;
    --dark-blue: #001d3d;
    --blue: #003566;
    --dark-yellow: #ffc300;
    --yellow: #ffd60a;
}

#root{
    margin:0px;
    padding:0px;
}

body{
    margin:0px;
    padding:0px;
}

html{
    margin:0px;
    padding:0px;
    width:100%;
    background-color: var(--darkest-blue);
}

html, body {
    overflow: hidden;
}

h1{
    font-size:40px;
    margin-left:20px;
}

#container{
    width:100vw;
    height:100vh;
    display:flex;
}

.left{
    flex:1
}

.center{
    flex:5
}

.right{
    flex:1
}